/*
    Navbar
*/

.nav_header{
    background: #61c24d;
    position: sticky;
    top: 0;
    height: 70px
}

.nav_header::after{
    content: '';
    display: table;
    clear: both;
}

.nav_container{
    margin-left: 15em;
    margin-right: 15em;
}

.brand{
    padding: 23px 0;
    float: left;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

.nav_link{
    color: white;
    text-transform: uppercase;
    font-weight: 600
}

.nav_link:hover{
    color: rgba(243, 243, 243, 0.918)
}

.nav_link::before{
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: white;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

.nav_link:hover::before{
    width: 100%;
}

/*
    Cafeteria Card
*/

.CafeteriaDetails {
    height: 300px;
    width: 100%;
    background-color: aquamarine;
  }
  
  .FoodMenuItem {
    margin-top: 1.2rem;
    padding-left: 1rem;
    font-family: Okra, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 2.4rem;
  }
  .FoodTitle {
    color: rgb(54, 54, 54);
    margin: 0.8rem 0px 0.6rem;
    font-size: 1.2rem;
  }
  .FoodDetails {
    color: rgb(79, 79, 79);
    margin: 0px 0px 0.4rem;
    font-size: 0.9rem;
  }
  
  .FondMenuItemImg {
    border-radius: 0.8rem;
    width: 100%;
    height: 200px;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
    filter: unset;
    transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
  }
  