.CafeteriaDetails {
  height: 300px;
  width: 100%;
  background-color: aquamarine;
}

.FoodMenuItem {
  margin-top: 1.2rem;
  padding-left: 1rem;
  font-family: Okra, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 2.4rem;
}
.FoodTitle {
  color: rgb(54, 54, 54);
  margin: 0.8rem 0px 0.6rem;
  font-size: 1.2rem;
}
.FoodDetails {
  color: rgb(79, 79, 79);
  margin: 0px 0px 0.4rem;
  font-size: 0.9rem;
}

.FondMenuItemImg {
  border-radius: 0.8rem;
  width: 100%;
  height: 200px;
  transform: none;
  opacity: 1;
  will-change: transform, opacity;
  filter: unset;
  transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}
